<h1>Crear Cubo</h1>
<form method="post" enctype="multipart/form-data">
    <label>IdCubo</label>    
    <input type="number" name="idcubo" class="form-control" />
     <label>Nombre</label>    
    <input type="text" name="nombre" class="form-control" />
    <label>Modelo</label>
    <input type="text" name="modelo" class="form-control" />
    <label>Marca</label>
    <input type="text" name="marca" class="form-control" />
    <label>Seleccione imagen</label>
    <input type="file" name="imagen" class="form-control" />
    <label>Precio</label>
    <input type="number" name="precio" class="form-control" />
    <button class="btn btn-success">Crear</button>
</form>